@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Merriweather", serif;
    width: 82%;

}

.banner {
    background-image: url('../resources/Banner\ Image.png');
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 18px;
    text-align: center;
    /* width: 82%; */



    /* background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%); */
}

.banner-description h4 {
    color: #FFF;
    text-align: center;
    font-family: "Merriweather", serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;


    /* padding:  531px 383px 530px; */
}

.banner-description {
    width: 632px;
    padding: 233px 344px 189px 344px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);




}

.banner-description h1 {
    color: #FFF;
    text-align: center;
    font-family: "Merriweather", serif;
    ;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    /* 131.944% */
    padding-top: 16px;
}

/* main section start */
.item-categories {
    margin-top: 120px;
    padding-left: ;
    width: 1600px;
    /* height: 7335px; */

}

.item-categories h1 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.item-categories h3 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 48px;
}

.item-categories h2 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 48px;

}

.happy-new-year-image {
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
    color: lightgray 50% / cover
}

.happy-new-year-image img {

    text-align: center;
    padding-left: 400px;
    margin-top: 49px;
}


/* secent section start */

.vectorr {
    position: relative;
    margin-top: 120px;
    background-image: url('../resources/Vectorrr.png');
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    margin-bottom: 120px;

}

.bg-img {

    position: absolute;
    width: 1320px;
    height: 600px;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}

.wellcome {
    width: 642px;
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    /* 137.5% */
    letter-spacing: 7.04px;
}

.wellcome-paragraph {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 697px;
    /* 166.667% */
}

.wellcome-paragraph .btn {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;


}

.btn {
    width: 120px;
    height: 32px;

}


/* vecrot-2 start */

.vecttor-2 .vector-2-description {
    width: 1320px;
    height: 482px;
    flex-shrink: 0;
    position: absolute;

}

.vector-2-description {
    position: relative;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    ;
}

.btn {}


/* start location-section  */
.location-section {
    /* max-width: 1320px; */

    height: 482px;
    flex-shrink: 0;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    /* position: relative; */
    /* display: flex; */
    margin-bottom: 120px;
    padding-top: 200px;
}


/* position: absolute; */

.location-description {
    /* display: inline; */
    text-align: center;
    margin-top: 100px;
}

.location-style {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    /* 175% */
    text-transform: capitalize;
    margin-top: 100px;
}

.location-section p {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;

}

.join-now-btn {
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
    margin-top: 48px;
    color: #FFF;
}

/* start comming soon section */
#comming-soon-section {
    width: 82%;
    height: auto;
}

.container {
    display: flex;
    margin-top: 120px;
    justify-content: space-between;
}

.container .section-heading h3 {
    color: #F00;
    text-align: center;
    font-family: "Merriweather", serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.container .section-heading h2 {
    color: #181819;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    text-align: center;
    margin-top: 12px;
}

.container .section-heading p {
    color: rgba(19, 6, 48, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    margin-top: 22px;
    min-height: 128px;
    min-width: 393px;
}

.container-image {
    width: 463px;
    height: 463px;
    flex-shrink: 0;
    border-radius: 364.844px;

    border: 15px solid #F00;
}

.image-cercle {
    width: 364.844px;
    height: 364.844px;
    border-radius: 463px;
}

.ontainer-image img {

    text-align: center;
    /* flex-shrink: 0; */

    /* background: url(<path-to-image>), lightgray -91.279px 0px / 150.038% 100% no-repeat; */
}

.container-2 {
    padding-right: 48px;
}

.section-heading-2 h3 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}

#paragraph {
    width: 276px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
}

.happy-new-banner {
    width: 140px;
    height: 140px;
    flex-shrink: 0;
    margin-top: 43px;
}

.happy-new-banner img {}


/* start our awsome portfolio section */

#portfolio {
    /* width: 82%; */
}

.portfolio-title h4 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.portfolio-title h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;

}

.portfolio-para {
    width: 896px;
    margin-top: 22px;

}

.portfolio-para,
p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
    margin-bottom: 48px;
}



.portfolio-images {
    display: flex;
    justify-content: space-between;
}

.Rectangle-3 {
    width: 424px;
    height: 450px;
    flex-shrink: 0;
}

.Rectangle-3 img {
    border-radius: 16px;
    background: lightgray 0px -35.755px / 100% 142.115% no-repeat;
}

/* start subscribe-section */
.subscribe-theme {
    width: 1320px;
    height: 616px;
    flex-shrink: 0;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}

.subscribe-theme img {
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    padding: 80px 585px 40px 585px;
    /* text-align: center; */

}


.subscribe-theme h2 {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    padding-left: 90px;
}

.subscribe-paragraph {
    width: 896px;
    padding-left: 233px;
    padding-top: 22px;
}

.subscribe-paragraph p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */

}

.button-section {
    display: flex;
    width: 648px;
    height: 71px;
    flex-shrink: 0;

    background: #f8f6f6;

    border: 0;
    padding-left: 300px;
}

.gamil-description {

    border-radius: 50px 0px 0px 50px;
    text-align: center;
    color: rgba(7, 2, 17, 0.30);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 0;
}

/* .gamil-description   */

.button-description {
    width: 210px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    font-style: oblique;

}

/* started footer section styles */
.footer-backgraund {
    width: 1600px;
    height: 609px;
    flex-shrink: 0;
    background-color: #070211;
    margin-top: 120px;
}

.footer-info {
    display: flex;

    /* justify-content:space-around; */
}

.paragraph {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    /* font-weight: 500; */
    /* line-height: 40px; */

    padding: 130px 409px 140px 100px;
    /* 166.667% */
    min-height: 80px;
    min-width: 375px;
}

.contrac-with-website p {
    color: #ffffff;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    padding-top: 160px;
    min-height: 80px;
    min-width: 375px;
    /* 166.667% */
}

.call-png {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin-right: 5px;
}

.mrgin {
    margin-top: 20px;
}

/*  */



/* social meadia icons style */
.social-meadia-icon {
    display: flex;
    margin-left: 640px;

}

.control {
    width: 64px;
    height: 64px;
    flex-shrink: 0;

    gap: 20px;

}